<div class="container-fluid" style="background: #f5f5f5; border-radius: 10px; padding:10px;">
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading">Assign Driver</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <table class="table table-condensed">
                        <tr>
                            <td>Brand</td>
                            <td>Model</td>
                            <td>Unit No.</td>
                            <td>Plate No.</td>
                            <td>Color</td>
                            <td>Status</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="vehicle in vehicles" ng-if="vehicle.assign_status == 'free'">
                            <td>{{vehicle.brand}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.unit_no}}</td>
                            <td>{{vehicle.plate_no}}</td>
                            <td>{{vehicle.color}}</td>
                            <td>{{vehicle.assign_status}}</td>
                            <td>
                                <button class="btn btn-xs btn-success" ng-click="assignVehicle(vehicle)"><i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>